<section>
    <div class="hero">
        <div class="hero--inner-section">
            <h1 class="hero--text -large">Welcome!</h1>
            <h2 class="hero--text -small">My name is Draigan Le Febvre and I'm a
                self taught web developer.</h2>
            <a class="btn">
                <h4 class="btn--text">Projects</h4>
            </a>
            <a class="btn">
                <h4 class="btn--text">Github</h4>
            </a>



        </div>
    </div>
</section>

<section>
    <div class="practice">
        <div class="practice--inner-section">


            <h1 class="practice--header-text">Why Hire Me?</h1>

            <div class="practice--box-container">
                <div class="practice--box">
                    <img src="/images/heart.svg" class="practice--image"
                        alt="Heart symbol">
                    <h2 class="practice--inner-text"> I'm passionate about
                        programming. </h2>
                </div>
                <div class="practice--box">
                    <img src="/images/clock.svg" class="practice--image"
                        alt="Clock symbol">

                    <h2 class="practice--inner-text">I continue learning on my
                        own time.</h2>

                </div>
                <div class="practice--box"> <img class="practice--image"
                        src="/images/directed.svg" alt="Self directed">

                    <h2 class="practice--inner-text">I'm self directed and
                        persistent.</h2>

                </div>
                <div class="practice--box">

                    <img class="practice--image" src="/images/balloons.svg"
                        alt="Balloons">
                    <h2 class="practice--inner-text">Fun at parties.</h2>
                </div>


            </div>

        </div>
    </div>
</section>


<section>
    <div class="project-wrapper">
        <div class="project-wrapper--inner-section">
            <div class="project-wrapper--header">
                Relevant Projects
            </div>

            <% data.projects.select { |arr| arr.featured == true }.each do
                |project| %>
                <%= partial('project_box', locals: project) %>
                    <% end %>

                        <div class="project-wrapper--footer">
                            <a href="projects.html" class="project--view-more">
                                View All Projects</a>
                        </div>
                    </div>
                </div>
            </section>